{%- set pairs = [] -%}
{%- for domain in pbs_domains_cfg %}
  {%- for k, v in domain.attributes.items() %}
    {%- if k == 'bind-password' %}
      {%- set _ = pairs.append('"' ~ domain.name ~ '": "' ~ v ~ '"') %}
    {%- endif %}
  {%- endfor %}
{%- endfor -%}

{
{{ pairs | join(',\n') }}
}